.harsh {
  display: grid;
   grid-template-areas:
    "header header"
    "nav nav"
    "section aside"
    "article aside"
    "footer footer";
 
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 80px 60px 120px 120px 70px;
  gap: 10px;
  height: 450 vh;
  width: 450px;
  margin: auto;
  padding: 20px;
  background: #f5f5f5;
  border: 2px solid #aaa;
}

header    { grid-area: header;    background: #9a9d31;
     border: 1px solid #aaa;
      display: flex;
       align-items: center;
       justify-content: center; }
nav       { grid-area: nav;       background: #c61818;
     border: 1px solid #aaa;
      display: flex;
       align-items: center;
       justify-content: center; }
section   { grid-area: section;   background: #0cad29;
     border: 1px solid #aaa;
      display: flex;
       align-items: center;
       justify-content: center; }
aside     { grid-area: aside;     background: #2ac3c9;
     border: 1px solid #aaa;
      display: flex;
       align-items: center;
       justify-content: center; }
article   { grid-area: article;   background: #f02be3;
     border: 1px solid #aaa;
      display: flex;
       align-items: center;
       justify-content: center; }
footer    { grid-area: footer;    background: #4529e0;
     border: 1px solid #aaa;
      display: flex;
       align-items: center;
       justify-content: center; }
body {
  background: #eaeaea;
}